* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 18px;
  width: auto;
  height: auto;

  font-weight: 700;
  font-size: 36px;

  color: #0A093D;
}

h1 strong {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 18px;
  width: auto;
  height: auto;

  font-weight: 700;
  font-size: 56px;

  color: #0A093D;
}

h2 {
  margin: auto;
  width: auto;
  height: auto;

  font-weight: 500;
  font-size: 18px;

  color: #217BF4;
}

p {
margin: auto;
margin-bottom: 64px;
width: auto;
height: auto;

font-weight: 400;
font-size: 16px;

color: #656464;
}

.home {
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
  background-image: url(../img/bg.svg);
  width: 1440px;
  height: 746px;
}

.header {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;   esse fdp tava me comendo :@*/
  justify-content: center;
  align-items: center;
  height: 90px;

  border-bottom: 1px solid #217bf4;
}

.header nav {
  border: none;
  cursor: pointer;
  background:none;
  text-decoration: none;
}

.nav{
  font-weight: 500;
  font-size: 14px;
  flex-direction: row;
  color: #656464;
  padding-left: 72px;
}
.nav li{
    display: inline-block;
}

.header button{
  cursor: pointer;
  margin-left: 526px;
  width: 123px;
  height: 50px;

  background: #217BF4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  border-radius: 14px;
  border: transparent;

  font-weight: 600;
  color: white;
}
.header button:hover{
  background: #217cf4ba;
}

.header nav ul li{
  padding-right: 27px;
}

.header nav ul li span{
  font-weight: 600;
  color: #2B2B39;
}

ul{
  list-style: none;
}

.header logo {
  position: absolute;
  width: 143px;
  height: 34px;
}

.content{
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.content .left{
  margin-left: 135px;
  margin-top: 125px;
  margin-bottom: 165px;
}

.content .left .b1{
  color: rgba(33, 123, 244, 1);

  width: 177px;
  height: 36px;

  background: #217cf4;
  opacity: 0.1;
  border-radius: 8px;
  border: transparent;
}

.content .right img{
  margin-right: 135px;
}

.community {
  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
  margin-bottom: 37px;

  text-align: center;
}

.headmembers {
  text-align: center;
}

.publi {
  background: #e5f0fd;
  margin-bottom: 130px;
}

.headlatestnews {
  text-align: center;
}

.footer {
  background-color: #2b2b39;
}

.bottomfooter {
  background-color: #20202d;
}
