* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  width: auto;
  height: auto;

  font-weight: 700;
  font-size: 36px;

  color: #0a093d;
}

h1 strong {
  width: auto;
  height: auto;

  font-weight: 700;
  font-size: 56px;

  color: #0a093d;
}

h2 {
  width: auto;
  height: auto;

  font-weight: 500;
  font-size: 18px;

  color: #217bf4;
}

p {
  width: auto;
  height: auto;

  font-weight: 400;
  font-size: 16px;

  color: #656464;
}

/* MEMBERS / FIFTH PAGE */

/* HEAD MEMBERS */

.headmembers {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.headmembers h2 {
  margin-top: 37px;
  margin-bottom: 10px;
}

.headmembers h1 {
  margin-bottom: 18px;
}

.headmembers p {
  margin-bottom: 38px;
  width: 454px;
}

/* BOTÕES MEMBERS */

.buttonmembers {
  display: flex;
  flex-direction: row;
  margin-bottom: 44px;
}

.buttonmembers button {
  text-align: center;
}

/* IMAGENS MEMBERS */

.imagesmembers {
  display: flex;
  flex-direction: row;
  gap: 30px;

  text-align: center;
}

.imgmembers {
  width: 270px;
  height: 316px;

  margin-bottom: 130px;

  border: 2px solid rgba(243, 243, 243, 0.5);
  border-radius: 14px;
}

.imgmembers:hover {
  box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
}

.imagesmembers img {
  margin-top: 30px;
  margin-bottom: 34px;
  width: 170px;
  height: 173px;
}

.imagesmembers strong {
  margin-bottom: 14px;

  font-weight: 600;
  font-size: 24px;
  line-height: 26px;

  color: #2f2c4a;
}

@media (max-width: 800px) {
    .imagesmembers {
      flex-direction: column;
      flex-wrap: wrap;
    }
}

/* PUBLICIDADE / SIXTH PAGE */

.publi {
  background-color: #e5f0fd;
}
