* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;

}

.home{
    background-image: url(../img/bg.svg);
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height: 90px;

    border-bottom: 1px solid #217BF4;
}

.header p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.header nav {
    border: none;
    cursor: pointer;
    background:none;
    text-decoration: none;
}

.nav{
    border: 32px;
    font-weight: 500;
    font-size: 14px;
    display: inline;
    flex-direction: row;
}
.nav li{
    display: inline-block;
}

.header nav ul li{
    padding-right: 27px;
}

ul{
    list-style: none;

}

.header logo {
    position: absolute;
    width: 143px;
    height: 34px;
}

.footer {
    background-color: #2B2B39;
}

.bottomfooter {
    background-color: #20202D;
}