@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;700;900&display=swap');
/* link para importar as fontes do google */

* {
    margin: 0;  /* zera a margin e padding padrão da página inteira */
    padding: 0;
}

a{
    text-decoration-line: none;
}

.about-us {
    background-color: hsla(0, 0%, 100%, 1);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.about-us-images {
    display: flex;
}